section.doctors
	.doctors__container
		.doctors__content
			.doctors__header
				h2.doctors__title._title Врачи ветеринарной клиники
			.doctors__body
				ul.doctors__list
					li.doctors__item
						img(src='images/doctors/1.png' alt='' loading='lazy')
						span.doctors__name Михайлова Светлана Леонидовна
					li.doctors__item
						img(src='images/doctors/2.png' alt='' loading='lazy')
						span.doctors__name Самойлова Ольга Геннадьевна
					li.doctors__item
						img(src='images/doctors/3.png' alt='' loading='lazy')
						span.doctors__name Самойлова Ольга Геннадьевна
					li.doctors__item
						img(src='images/doctors/4.png' alt='' loading='lazy')
						span.doctors__name Молчанов Алексей Викторович
					li.doctors__item
						img(src='images/doctors/5.png' alt='' loading='lazy')
						span.doctors__name Матвеева Виктория Викторовна
