section.block
	.block__container
		.block__content
			.tabs._tabs
				nav.tabs__nav
					ul.tabs__list
						li.tabs__item
							button.tabs__btn._tabs-item._active ВЕТКЛИНИКА «ВЕРНЫЕ ДРУЗЬЯ»
						li.tabs__item
							button.tabs__btn._tabs-item УЗКИЕ СПЕЦИАЛИСТЫ
						li.tabs__item
							button.tabs__btn._tabs-item ЭКЗОТИЧЕСКИЕ ЖИВОТНЫЕ
						li.tabs__item
							button.tabs__btn._tabs-item КОШКИ
						li.tabs__item
							button.tabs__btn._tabs-item РИТУАЛ
						li.tabs__item
							button.tabs__btn._tabs-item СОБАКИ
						li.tabs__item
							button.tabs__btn._tabs-item ГРЫЗУНЫ
						li.tabs__item
							button.tabs__btn._tabs-item ЛЕЧЕНИЕ ГРЫЗУНОВ
						li.tabs__item
							button.tabs__btn._tabs-item ПТИЦЫ
						li.tabs__item
							button.tabs__btn._tabs-item РЕПТИЛИИ
						li.tabs__item
							button.tabs__btn._tabs-item КРОЛИКИ И ХОРЬКИ
				.tabs__body
					.tabs__block._tabs-block._active
						.tabs__overflow
							ul.tabs__block-list
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
					.tabs__block._tabs-block
						.tabs__overflow
							ul.tabs__block-list
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
					.tabs__block._tabs-block
						.tabs__overflow
							ul.tabs__block-list
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
					.tabs__block._tabs-block
						.tabs__overflow
							ul.tabs__block-list
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
					.tabs__block._tabs-block
						.tabs__overflow
							ul.tabs__block-list
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
					.tabs__block._tabs-block
						.tabs__overflow
							ul.tabs__block-list
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
					.tabs__block._tabs-block
						.tabs__overflow
							ul.tabs__block-list
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
					.tabs__block._tabs-block
						.tabs__overflow
							ul.tabs__block-list
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
					.tabs__block._tabs-block
						.tabs__overflow
							ul.tabs__block-list
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
					.tabs__block._tabs-block
						.tabs__overflow
							ul.tabs__block-list
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
					.tabs__block._tabs-block
						.tabs__overflow
							ul.tabs__block-list
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
								li
									span Ветеринар для кошек
								li
									span Анализ на вирусный перитонит
								li
									span Антицарапки
								li
									span Кремация кошек и котов
								li
									span Лапароскопическая стерилизация
								li
									span МРТ кошке и коту
								li
									span Общий анализ крови
								li
									span Рентген кошке
								li
									span Роды кошки
								li
									span Стерилизация кошки
								li
									span Стрижка когтей
								li
									span Удаление зубного камня
								li
									span Анализ кала
								li
									span Удаление зубов
								li
									span УЗИ кошке
								li
									span Усыпление кошек и котов
								li
									span Чипирование
								li
									span Офтальмология
								li
									span Выпадение века
								li
									span Анализ мочи
