header.header.headroom._lp
	.header__content
		.header__inner.header__container
			ul.header__info
				li.header__item
					.header__item-icon
						svg(width='22' height='22' viewbox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M11 5.67188C10.3541 5.67188 9.72274 5.8634 9.18572 6.22223C8.64869 6.58106 8.23012 7.09109 7.98296 7.6878C7.73579 8.28452 7.67112 8.94112 7.79712 9.57459C7.92313 10.2081 8.23415 10.7899 8.69085 11.2466C9.14756 11.7034 9.72944 12.0144 10.3629 12.1404C10.9964 12.2664 11.653 12.2017 12.2497 11.9545C12.8464 11.7074 13.3564 11.2888 13.7153 10.7518C14.0741 10.2148 14.2656 9.58338 14.2656 8.9375C14.2656 8.0714 13.9216 7.24078 13.3091 6.62836C12.6967 6.01593 11.8661 5.67188 11 5.67188ZM11 11.1719C10.5581 11.1719 10.1261 11.0408 9.75865 10.7953C9.39121 10.5498 9.10482 10.2008 8.93571 9.79256C8.76659 9.38428 8.72234 8.93502 8.80856 8.5016C8.89477 8.06817 9.10758 7.67004 9.42006 7.35756C9.73254 7.04508 10.1307 6.83227 10.5641 6.74606C10.9975 6.65984 11.4468 6.70409 11.8551 6.87321C12.2633 7.04232 12.6123 7.32871 12.8578 7.69615C13.1033 8.06359 13.2344 8.49558 13.2344 8.9375C13.2344 9.53009 12.999 10.0984 12.5799 10.5174C12.1609 10.9365 11.5926 11.1719 11 11.1719ZM11 1.54688C9.04058 1.54915 7.16207 2.32853 5.77655 3.71405C4.39103 5.09957 3.61165 6.97808 3.60938 8.9375C3.60938 11.5938 4.84172 14.4152 7.1732 17.0964C8.22552 18.3125 9.40986 19.4078 10.7044 20.362C10.791 20.4227 10.8942 20.4552 11 20.4552C11.1058 20.4552 11.209 20.4227 11.2956 20.362C12.5901 19.4078 13.7745 18.3125 14.8268 17.0964C17.1583 14.4152 18.3906 11.5964 18.3906 8.9375C18.3884 6.97808 17.609 5.09957 16.2234 3.71405C14.8379 2.32853 12.9594 1.54915 11 1.54688ZM11 19.2938C9.71094 18.2987 4.64062 14.0611 4.64062 8.9375C4.64062 7.25089 5.31063 5.63336 6.50324 4.44074C7.69586 3.24813 9.31339 2.57813 11 2.57813C12.6866 2.57813 14.3041 3.24813 15.4968 4.44074C16.6894 5.63336 17.3594 7.25089 17.3594 8.9375C17.3594 14.0611 12.2891 18.2987 11 19.2938Z' fill='#45494D')
					span Симферополь, ул. Киевская, 41
				li.header__item
					.header__item-icon
						svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
							g(clip-path='url(#clip0_0_111)')
								path(d='M10.606 3.73047H9.35602V10.6879L13.8722 12.8343L14.4088 11.7054L10.606 9.89801V3.73047Z' fill='#45494D')
								path(d='M10 0.625C4.82234 0.625 0.625 4.82234 0.625 10C0.625 15.1777 4.82234 19.375 10 19.375C15.1777 19.375 19.375 15.1777 19.375 10C19.375 4.82234 15.1777 0.625 10 0.625ZM10 18.125C5.5127 18.125 1.875 14.4873 1.875 10C1.875 5.5127 5.5127 1.875 10 1.875C14.4873 1.875 18.125 5.5127 18.125 10C18.125 14.4873 14.4873 18.125 10 18.125Z' fill='#45494D')
							defs
								clippath#clip0_0_111
									rect(width='20' height='20' fill='white')
					span Звонки 24/7
				li.header__item
					.header__item-icon
						svg._mail-icon(width='29' height='25' viewbox='0 0 29 25' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(fill-rule='evenodd' clip-rule='evenodd' d='M4.83334 7.73789V17.2617C4.83334 17.8932 5.12432 18.4988 5.64228 18.9453C6.16024 19.3918 6.86274 19.6426 7.59524 19.6426H21.4048C22.1373 19.6426 22.8398 19.3918 23.3577 18.9453C23.8757 18.4988 24.1667 17.8932 24.1667 17.2617V7.73789C24.1667 7.10642 23.8757 6.50081 23.3577 6.0543C22.8398 5.60778 22.1373 5.35693 21.4048 5.35693H7.59524C6.86274 5.35693 6.16024 5.60778 5.64228 6.0543C5.12432 6.50081 4.83334 7.10642 4.83334 7.73789Z' stroke='#45494D' stroke-linecap='round' stroke-linejoin='round')
							path(d='M7.59524 8.92822L14.5 12.4997L21.4048 8.92822' stroke='#45494D' stroke-linecap='round' stroke-linejoin='round')
					a(href='mailto:info@vetdom.ru') info@vetdom.ru
			.header__tel
				.header__tel-icon
					svg(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M12.2965 12.929C12.4775 12.929 12.6284 12.8686 12.749 12.748C12.8697 12.6273 12.9301 12.4764 12.9301 12.2954V9.85167C12.9301 9.71088 12.8848 9.58758 12.7943 9.48179C12.7038 9.37599 12.5881 9.30821 12.4473 9.27844L10.3656 8.85607C10.2248 8.83595 10.0814 8.84862 9.9354 8.89408C9.78938 8.93954 9.67132 9.00732 9.58121 9.09742L8.16323 10.5154C7.39893 10.0528 6.7 9.50472 6.06643 8.87115C5.43287 8.23759 4.9049 7.55877 4.48252 6.83469L5.93067 5.35637C6.02118 5.26587 6.07911 5.16268 6.10445 5.04683C6.12979 4.93098 6.1322 4.80286 6.11169 4.66247L5.71948 2.55059C5.69937 2.40979 5.634 2.29414 5.52338 2.20363C5.41276 2.11313 5.28705 2.06787 5.14626 2.06787H2.70251C2.52149 2.06787 2.37064 2.12821 2.24996 2.24889C2.12928 2.36957 2.06894 2.52042 2.06894 2.70144C2.06894 3.99874 2.35817 5.26345 2.93662 6.49558C3.51508 7.72772 4.27938 8.81886 5.22953 9.769C6.17967 10.7191 7.27081 11.4834 8.50294 12.0619C9.73508 12.6404 10.9996 12.9294 12.2965 12.929Z' fill='white')
				a(href='tel:89782359897') 8(978)235-98-97
		span.line
		.header__body.header__container
			a.header__logo(href='index.html')
				img.header__img(src='images/logo.png' alt='' loading='lazy')
			include ../../static/header/burger/burger
			a.header__btn(href='') Звоните нам!
