section.reviews
	.reviews__container(data-type='reviews')
		.reviews__content
			.reviews__header
				h2.reviews__title._title Отзывы клиентов
			.reviews__body
				.reviews__slider.slider
					.slider__wrapper.swiper-wrapper
						.slider__slide.swiper-slide.slide
							.slide__header
								img.slide__user(src='images/reviews/1.png' alt='' loading='lazy')
								.slide__info
									span.slide__info-name Марина Краснова,
									span.slide__info-city Симферополь
									.slide__info-stars.stars
										ul.stars__list
											li.stars__item
												img(src='images/reviews/5.svg' alt='' loading='lazy')
											li.stars__item
												img(src='images/reviews/5.svg' alt='' loading='lazy')
											li.stars__item
												img(src='images/reviews/5.svg' alt='' loading='lazy')
								img.slide__icon(src='images/reviews/3.png' alt='' loading='lazy')
							.slide__body
								p В ветеринарную клинику «Крым-ВетКлиник» мы обратились для контроля протекания первой беременности и родов нашей кошки. Ветеринар тщательно обследовал нашу кошку, проводил УЗИ на протяжении беременности контролировал все важные показатели. И в процессе родов ветеринар также присутствовал у нас дома и контролировал весь процесс. В результате всё прошло гладко и на свет появилось 4 здоровых котёнка,…
						.slider__slide.swiper-slide.slide
							.slide__header
								img.slide__user(src='images/reviews/2.png' alt='' loading='lazy')
								.slide__info
									span.slide__info-name Вика Краснова,
									span.slide__info-city Симферополь
									.slide__info-stars.stars
										ul.stars__list
											li.stars__item
												img(src='images/reviews/5.svg' alt='' loading='lazy')
											li.stars__item
												img(src='images/reviews/5.svg' alt='' loading='lazy')
											li.stars__item
												img(src='images/reviews/5.svg' alt='' loading='lazy')
											li.stars__item
												img(src='images/reviews/5.svg' alt='' loading='lazy')
								img.slide__icon(src='images/reviews/3.png' alt='' loading='lazy')
							.slide__body
								p В ветеринарную клинику «Крым-ВетКлиник» мы обратились для контроля протекания первой беременности и родов нашей кошки.
						.slider__slide.swiper-slide.slide
							.slide__header
								img.slide__user(src='images/reviews/1.png' alt='' loading='lazy')
								.slide__info
									span.slide__info-name Вася Краснова,
									span.slide__info-city Симферополь
									.slide__info-stars.stars
										ul.stars__list
											li.stars__item
												img(src='images/reviews/5.svg' alt='' loading='lazy')
											li.stars__item
												img(src='images/reviews/5.svg' alt='' loading='lazy')
								img.slide__icon(src='images/reviews/3.png' alt='' loading='lazy')
							.slide__body
								p В ветеринарную клинику «Крым-ВетКлиник» мы обратились для контроля протекания первой беременности и родов нашей кошки. В ветеринарную клинику «Крым-ВетКлиник» мы обратились для контроля протекания первой беременности и родов нашей кошки. Ветеринар тщательно обследовал нашу кошку, проводил УЗИ на протяжении беременности контролировал все важные показатели. И в процессе родов ветеринар также присутствовал у нас дома и контролировал весь процесс. В результате всё прошло гладко и на свет появилось 4 здоровых котёнка
						.slider__slide.swiper-slide.slide
							.slide__header
								img.slide__user(src='images/reviews/1.png' alt='' loading='lazy')
								.slide__info
									span.slide__info-name Вася Краснова,
									span.slide__info-city Симферополь
									.slide__info-stars.stars
										ul.stars__list
											li.stars__item
												img(src='images/reviews/5.svg' alt='' loading='lazy')
											li.stars__item
												img(src='images/reviews/5.svg' alt='' loading='lazy')
								img.slide__icon(src='images/reviews/3.png' alt='' loading='lazy')
							.slide__body
								p В ветеринарную клинику «Крым-ВетКлиник» мы обратились для контроля протекания первой беременности и родов нашей кошки.
					.swiper-pagination
				.swiper-button-prev
				.swiper-button-next
