section.licenses
	.licenses__container
		.licenses__content
			.licenses__header
				h2.licenses__title._title Лицензии ветклиники
			.licenses__body
				.licenses__left
					img(src='images/licenses/1.png' alt='' loading='lazy')
				.licenses__right
					ul.licenses__list
						li.licenses__item
							a.licenses__link(href='images/licenses/2.jpeg' data-fancybox)
								img(src='images/licenses/2.png' alt='' loading='lazy')
						li.licenses__item
							a.licenses__link(href='images/licenses/3.jpeg' data-fancybox)
								img(src='images/licenses/3.png' alt='' loading='lazy')
						li.licenses__item
							a.licenses__link(href='images/licenses/4.jpeg' data-fancybox)
								img(src='images/licenses/4.png' alt='' loading='lazy')
						li.licenses__item
							a.licenses__link(href='images/licenses/5.jpeg' data-fancybox)
								img(src='images/licenses/5.png' alt='' loading='lazy')
