section.treat
	.treat__container
		.treat__content
			.treat__header
				h2.treat__title._title Каких животных мы лечим
			.treat__body
				ul.treat__list
					li.treat__item
						.treat__img._img-1
							img(src='images/animals/1.png' alt='' loading='lazy')
						span Собаки
					li.treat__item
						.treat__img._img-2
							img(src='images/animals/2.png' alt='' loading='lazy')
						span КОШКИ
					li.treat__item
						.treat__img._img-3
							img(src='images/animals/3.png' alt='' loading='lazy')
						span ГРЫЗУНЫ
					li.treat__item
						.treat__img._img-4
							img(src='images/animals/4.png' alt='' loading='lazy')
						span РЕПТИЛИИ
					li.treat__item
						.treat__img._img-5
							img(src='images/animals/5.png' alt='' loading='lazy')
						span ПТИЦЫ
					li.treat__item
						.treat__img._img-6
							img(src='images/animals/6.png' alt='' loading='lazy')
						span ПТИЦЫ
