.header__menu.menu
	button.menu__icon.icon-menu(type='button')
		span
		span
		span
	nav.menu__body
		ul.menu__list
			li.menu__item
				a.menu__link._link(href='#' data-link='.services') УСЛУГИ
			li.menu__item
				a.menu__link._link(href='#' data-link='.doctors') ВРАЧИ
			li.menu__item
				a.menu__link._link(href='#' data-link='.prices') ЦЕНЫ
			li.menu__item
				a.menu__link._link(href='#' data-link='.treat') О НАС
			li.menu__item
				a.menu__link._link(href='#' data-link='.reviews') ОТЗЫВЫ
			li.menu__item
				a.menu__link._link(href='#' data-link='.contacts') КОНТАКТЫ
		a.menu__btn(href='tel:89782359897') 8(978)235-98-97
