section.clinic
	.clinic__container
		.clinic__content
			.clinic__header
				h2.clinic__title._title-second Ветеринарная клиника в Симферополе: официальный сайт ветклиники «Крым-ВетКлиник»
			.clinic__body
				.clinic__left
					p Современная и круглосуточная ветеринарная клиника в Симферополе «Крым-ВетКлиник» представляет собой современную ветклинику, в которой можно оперативно и недорого получить широкий спектр качественных и профессиональных услуг и предоставлению всей необходимой помощи домашним питомцам.
					p При этом все наши ветеринары являются опытными и дипломированными специалистами с соответствующим образованием. К каждому животному у нас применяется персональный подход.
					p В соответствии с этим специалист сначала проводит осмотр и комплексное обследование зверька, могут применяться соответствующие анализы и исследования для получения детальной картины сложившейся ситуации. И уже в соответствии с этим будет постановлен точный диагноз и составлен персональный план терапии.
				.clinic__right
					.clinic__slider
						.clinic__slider-wrapper.swiper-wrapper
							.clinic__slider-slide.swiper-slide
								img(src='images/clinic/1.png' alt='' loading='lazy')
							.clinic__slider-slide.swiper-slide
								img(src='images/clinic/1.png' alt='' loading='lazy')
							.clinic__slider-slide.swiper-slide
								img(src='images/clinic/1.png' alt='' loading='lazy')
							.clinic__slider-slide.swiper-slide
								img(src='images/clinic/1.png' alt='' loading='lazy')
						.swiper-pagination
