section.why
	.why__container
		.why__content
			.why__header
				h2.why__title._title Почему выбирают нас
			.why__body
				.why__left
					.why__item
						img(src='images/why/1.png' alt='' loading='lazy')
						span Высококлассные врачи и своя лаборатория
					.why__item
						img(src='images/why/1.png' alt='' loading='lazy')
						span Стационарное лечение и низкие цены
				.why__center
					img(src='images/why/2.png' alt='' loading='lazy')
				.why__right
					.why__item
						img(src='images/why/1.png' alt='' loading='lazy')
						span Ветеринарная скорая. Работаем 24/7
					.why__item
						img(src='images/why/1.png' alt='' loading='lazy')
						span Точная диагностика и проведение операций
