section.intro
	.intro__content
		.intro__slider
			.intro__slider-wrapper.swiper-wrapper
				.intro__slider-slide.swiper-slide
					.intro__container
						.intro__header
							h2.intro__title Медицинская помощь
								span Домашним животным!
							span.intro__subtitle Оперативная помощь вашему домашнему питомцу круглосуточно!
						.intro__body
							a.intro__btn.intro__btn_sign(href='') Записаться
							a.intro__btn.intro__btn_consultation(href='') Бесплатная консультация
				.intro__slider-slide.swiper-slide
					.intro__container
						.intro__header
							h2.intro__title Медицинская помощь
								span Домашним животным!
							span.intro__subtitle Оперативная помощь вашему домашнему питомцу круглосуточно!
						.intro__body
							a.intro__btn.intro__btn_sign(href='') Записаться
							a.intro__btn.intro__btn_consultation(href='') Бесплатная консультация
				.intro__slider-slide.swiper-slide
					.intro__container
						.intro__header
							h2.intro__title Медицинская помощь
								span Домашним животным!
							span.intro__subtitle Оперативная помощь вашему домашнему питомцу круглосуточно!
						.intro__body
							a.intro__btn.intro__btn_sign(href='') Записаться
							a.intro__btn.intro__btn_consultation(href='') Бесплатная консультация
			.swiper-pagination
			.swiper-button-prev
			.swiper-button-next
