section.services
	.services__container
		.services__content
			.services__left
				h2.services__title._title Наши услуги
				p Предоставление высокопрофессиональной ветеринарной помощи и обеспечение комплексной заботы животным и их владельцам, руководствуясь основополагающими принципами гармоничного сосуществования всего живого на Земле!
			.services__right
				img.services__img1(src='images/services/1.png' alt='' loading='lazy')
				img.services__img2(src='images/services/2.png' alt='' loading='lazy')
