section.prices
	.prices__container
		.prices__content
			.prices__header
				h2.prices__title._title Цены на наши услуги
			.prices__body
				.prices__left
					.prices__spoiler(data-spoilers)
						.prices__item
							button.prices__title-btn(type='button' data-spoiler) Приём ветеринара
								img._icon-plus(src='images/plus.svg' alt='' loading='lazy')
								img(src='images/minus.svg' alt='' loading='lazy')
							.prices__inner
								.prices__subtitle
									strong Название услуги
									strong Стоимость
								ul.prices__list
									li
										span.prices__name Консультация по уходу и содержанию
										span.prices__cost от 500 ₽
									li
										span.prices__name Первичный прием врачом общей практики
										span.prices__cost от 2000 ₽
									li
										span.prices__name Вторичный прием врачом общей практики
										span.prices__cost от 1000 ₽
						.prices__item
							button.prices__title-btn(type='button' data-spoiler) Ветеринар на дом
								img._icon-plus(src='images/plus.svg' alt='' loading='lazy')
								img(src='images/minus.svg' alt='' loading='lazy')
							.prices__inner
								.prices__subtitle
									strong Название услуги
									strong Стоимость
								ul.prices__list
									li
										span.prices__name Консультация по уходу и содержанию
										span.prices__cost от 500 ₽
									li
										span.prices__name Первичный прием врачом общей практики
										span.prices__cost от 2000 ₽
									li
										span.prices__name Вторичный прием врачом общей практики
										span.prices__cost от 1000 ₽
						.prices__item
							button.prices__title-btn(type='button' data-spoiler) Вакцинация (прививки)
								img._icon-plus(src='images/plus.svg' alt='' loading='lazy')
								img(src='images/minus.svg' alt='' loading='lazy')
							.prices__inner
								.prices__subtitle
									strong Название услуги
									strong Стоимость
								ul.prices__list
									li
										span.prices__name Консультация по уходу и содержанию
										span.prices__cost от 500 ₽
									li
										span.prices__name Первичный прием врачом общей практики
										span.prices__cost от 2000 ₽
									li
										span.prices__name Вторичный прием врачом общей практики
										span.prices__cost от 1000 ₽
						.prices__item
							button.prices__title-btn(type='button' data-spoiler) Ветеринарная лаборатория
								img._icon-plus(src='images/plus.svg' alt='' loading='lazy')
								img(src='images/minus.svg' alt='' loading='lazy')
							.prices__inner
								.prices__subtitle
									strong Название услуги
									strong Стоимость
								ul.prices__list
									li
										span.prices__name Консультация по уходу и содержанию
										span.prices__cost от 500 ₽
									li
										span.prices__name Первичный прием врачом общей практики
										span.prices__cost от 2000 ₽
									li
										span.prices__name Вторичный прием врачом общей практики
										span.prices__cost от 1000 ₽
						.prices__item
							button.prices__title-btn(type='button' data-spoiler) Кастрация животных
								img._icon-plus(src='images/plus.svg' alt='' loading='lazy')
								img(src='images/minus.svg' alt='' loading='lazy')
							.prices__inner
								.prices__subtitle
									strong Название услуги
									strong Стоимость
								ul.prices__list
									li
										span.prices__name Консультация по уходу и содержанию
										span.prices__cost от 500 ₽
									li
										span.prices__name Первичный прием врачом общей практики
										span.prices__cost от 2000 ₽
									li
										span.prices__name Вторичный прием врачом общей практики
										span.prices__cost от 1000 ₽
						.prices__item
							button.prices__title-btn(type='button' data-spoiler) Купирование ушей и хвостов
								img._icon-plus(src='images/plus.svg' alt='' loading='lazy')
								img(src='images/minus.svg' alt='' loading='lazy')
							.prices__inner
								.prices__subtitle
									strong Название услуги
									strong Стоимость
								ul.prices__list
									li
										span.prices__name Консультация по уходу и содержанию
										span.prices__cost от 500 ₽
									li
										span.prices__name Первичный прием врачом общей практики
										span.prices__cost от 2000 ₽
									li
										span.prices__name Вторичный прием врачом общей практики
										span.prices__cost от 1000 ₽
						.prices__item
							button.prices__title-btn(type='button' data-spoiler) Груминг
								img._icon-plus(src='images/plus.svg' alt='' loading='lazy')
								img(src='images/minus.svg' alt='' loading='lazy')
							.prices__inner
								.prices__subtitle
									strong Название услуги
									strong Стоимость
								ul.prices__list
									li
										span.prices__name Консультация по уходу и содержанию
										span.prices__cost от 500 ₽
									li
										span.prices__name Первичный прием врачом общей практики
										span.prices__cost от 2000 ₽
									li
										span.prices__name Вторичный прием врачом общей практики
										span.prices__cost от 1000 ₽
						.prices__item
							button.prices__title-btn(type='button' data-spoiler) Чипирование животных
								img._icon-plus(src='images/plus.svg' alt='' loading='lazy')
								img(src='images/minus.svg' alt='' loading='lazy')
							.prices__inner
								.prices__subtitle
									strong Название услуги
									strong Стоимость
								ul.prices__list
									li
										span.prices__name Консультация по уходу и содержанию
										span.prices__cost от 500 ₽
									li
										span.prices__name Первичный прием врачом общей практики
										span.prices__cost от 2000 ₽
									li
										span.prices__name Вторичный прием врачом общей практики
										span.prices__cost от 1000 ₽
						.prices__item
							button.prices__title-btn(type='button' data-spoiler) Стерилизация
								img._icon-plus(src='images/plus.svg' alt='' loading='lazy')
								img(src='images/minus.svg' alt='' loading='lazy')
							.prices__inner
								.prices__subtitle
									strong Название услуги
									strong Стоимость
								ul.prices__list
									li
										span.prices__name Консультация по уходу и содержанию по уходу и содержанию
										span.prices__cost от 500000 ₽
									li
										span.prices__name Первичный прием врачом общей практики
										span.prices__cost от 2000 ₽
									li
										span.prices__name Вторичный прием врачом общей практики
										span.prices__cost от 1000 ₽
						.prices__item
							button.prices__title-btn(type='button' data-spoiler) Ритуальные услуги
								img._icon-plus(src='images/plus.svg' alt='' loading='lazy')
								img(src='images/minus.svg' alt='' loading='lazy')
							.prices__inner
								.prices__subtitle
									strong Название услуги
									strong Стоимость
								ul.prices__list
									li
										span.prices__name Консультация по уходу и содержанию Консультация по уходу и содержанию
										span.prices__cost от 500 ₽
									li
										span.prices__name Первичный прием врачом общей практики
										span.prices__cost от 2000 ₽
									li
										span.prices__name Вторичный прием врачом общей практики
										span.prices__cost от 1000 ₽
				.prices__right
					//img(src='images/price/1.png' alt='' loading='lazy')
