section.faq
	.faq__container
		.faq__content
			.faq__header
				h2.faq__title._title FAQ
			.faq__body.spoiler(data-spoilers)
				.spoiler__item
					button.spoiler__title(type='button' data-spoiler) Какие симптомы указывают на то, что мой питомец нуждается в ветеринарной помощи?
					.spoiler__body
						span Есть ситуации, когда откладывать визит к ветеринару опасно:
						ul.spoiler__list
							li
								span · вздутие, опухание и болезненность живота;
							li
								span · затрудненное или учащенное дыхание, признаки удушья;
							li
								span · любые виды травм – повреждение глаза, падения с высоты, авария и т.п;
							li
								span · открытые раны;
							li
								span · опухшие конечности;
				.spoiler__item
					button.spoiler__title(type='button' data-spoiler) Какие симптомы указывают на то, что мой питомец нуждается в ветеринарной помощи?
					.spoiler__body
						span Есть ситуации, когда откладывать визит к ветеринару опасно:
						ul.spoiler__list
							li
								span · вздутие, опухание и болезненность живота;
							li
								span · затрудненное или учащенное дыхание, признаки удушья;
							li
								span · любые виды травм – повреждение глаза, падения с высоты, авария и т.п;
							li
								span · открытые раны;
							li
								span · опухшие конечности;
				.spoiler__item
					button.spoiler__title(type='button' data-spoiler) Какие симптомы указывают на то, что мой питомец нуждается в ветеринарной помощи?
					.spoiler__body
						span Есть ситуации, когда откладывать визит к ветеринару опасно:
						ul.spoiler__list
							li
								span · вздутие, опухание и болезненность живота;
							li
								span · затрудненное или учащенное дыхание, признаки удушья;
							li
								span · любые виды травм – повреждение глаза, падения с высоты, авария и т.п;
							li
								span · открытые раны;
							li
								span · опухшие конечности;
				.spoiler__item
					button.spoiler__title(type='button' data-spoiler) Какие симптомы указывают на то, что мой питомец нуждается в ветеринарной помощи?
					.spoiler__body
						span Есть ситуации, когда откладывать визит к ветеринару опасно:
						ul.spoiler__list
							li
								span · вздутие, опухание и болезненность живота;
							li
								span · затрудненное или учащенное дыхание, признаки удушья;
							li
								span · любые виды травм – повреждение глаза, падения с высоты, авария и т.п;
							li
								span · открытые раны;
							li
								span · опухшие конечности;
				.spoiler__item
					button.spoiler__title(type='button' data-spoiler) Какие симптомы указывают на то, что мой питомец нуждается в ветеринарной помощи?
					.spoiler__body
						span Есть ситуации, когда откладывать визит к ветеринару опасно:
						ul.spoiler__list
							li
								span · вздутие, опухание и болезненность живота;
							li
								span · затрудненное или учащенное дыхание, признаки удушья;
							li
								span · любые виды травм – повреждение глаза, падения с высоты, авария и т.п;
							li
								span · открытые раны;
							li
								span · опухшие конечности;
				.spoiler__item
					button.spoiler__title(type='button' data-spoiler) Какие симптомы указывают на то, что мой питомец нуждается в ветеринарной помощи?
					.spoiler__body
						span Есть ситуации, когда откладывать визит к ветеринару опасно:
						ul.spoiler__list
							li
								span · вздутие, опухание и болезненность живота;
							li
								span · затрудненное или учащенное дыхание, признаки удушья;
							li
								span · любые виды травм – повреждение глаза, падения с высоты, авария и т.п;
							li
								span · открытые раны;
							li
								span · опухшие конечности;
